$backgroundWhite: #FFFFFF;
$backgroundBlueDark: #2A8796;
$backgroundBlueLight: #E8F1F1;
$backgroundGreyDark: #404854;
$backgroundGreyDarkest: #1B2424;
$textInverted: #FFFFFF;
$textPrimary: #404854;
$textSecondary: #7D8595;
$textTertiary: #1E2530;
$strokeDark: #1E2530;
$strokeLight: #bac2c8;
$greenLight: #38B0B0;
$darkBlue: #1E2530;
$totalBlack: #000000;
$darkGrey: #333333;
